extends layout
 
block content
  h1 Project_BLuR
  
  div.top
    form.form-horizontal(action='/login', method="post", id="loginForm")
      label Username
      input(id="username", type="text", name="username", placeholder="Enter your username")
      label Password
      input(id="password", type="password", name="password")
      input.btn(type="submit", value="Log In")
  div.footer