doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    <!-- Custom styles for this template -->
    link(rel='stylesheet', href='/stylesheets/starter-template.css')
  body
    block content
